version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    ports:
      - "80:80" # Example frontend port (e.g. Nginx serving static files)

  backend:
    build:
      context: .
      dockerfile: backend.dockerfile
    container_name: fullstack-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    volumes:
      - h2_data:/data
    restart: unless-stopped

volumes:
  h2_data:
    driver: local